<!DOCTYPE html>
<html ng-app="myApp">

	<head>
		<meta charset="utf-8"/>
		<title>Learn AngularJS - Instant Search</title>

		<link href="http://fonts.googleapis.com/css?family=Cookie|Open+Sans:400,700" rel="stylesheet" />

		<!-- The main CSS file -->
		<link href="style.css" rel="stylesheet" />

		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>

	<!-- Initialize a new AngularJS app and associate it with a module named "instantSearch"-->
	<body ng-controller="InstantSearchController">

		<div class="bar">
			<!-- Create a binding between the searchString model and the text field -->
			<input type="text" ng-model="searchString" placeholder="Enter your search terms" />
		</div>

		<ul>
			<li ng-repeat="data in items | searchFor:searchString" >
				<a href="{{data.url}}"><img ng-src="{{data.image}}"/></a>
				<p>{{data.title}}</p>
			</li>
		</ul>

		<!-- Include AngularJS from Google's CDN -->
		<script src="angular.js"></script>
		<script src="search.js"></script>
	</body>
</html>
