<!DOCTYPE html>
<html ng-app = "todoMvc">
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" href="farmwork/todomvc-common/base.css" />
<link rel="stylesheet" href="farmwork/todomvc-app-css/index.css" />
</head>
<body>

	<div ng-view></div>
	
	<script type="text/ng-template" id="todomvc-index.html">
		
		<section id="todoapp">
			<header id="header">
				<form id="todo-form" ng-submit = "addTodo()">
					<input id="new-todo" placeholder="Enter new Name" ng-model = "newTodo" ng-disable = "saving" autofocus />
				</form>
			</header>
			<section id="main" ng-show = "todos.length" ng-cloak>
				<form>
					<input id="toggle-all" type="checkbox" ng-model = "allChecked" ng-click = "markAll(allChecked)" />
					<label for="toggle-all">Mark All As Complete</label>
				</form>
				<ul id="todo-list">
					<li ng-repeat = "todo in todos | filter:statusFilters track by $index" ng-class = "{ complated:todo.complated, editing: todo == editedTodo }">
						<div class="view">
							<input class="toggle" type="checkbox" ng-model = "todo.complated" ng-change = "toggleComplated(todo)" />
							<label ng-dbclick="editTodo(todo)">{{todo.title}}</label>
							<button class="destroy" ng-click = "removeTodo(todo)"></button>
						</div>
						<form ng-submit = "saveEdits(todo,'submit')">
							<input class="edit" ng-trim="false" ng-model="todo.title" todo-escape = "reverEdits(todo)" ng-blur = "saveEdits(todo,'blur')" todo-focus = "todo == editedTodo" />
						</form>
					</li>
				</ul>
			</section>
			<footer id="footer" ng-show = "todos.length" ng-cloak>
				<span id="todo-count">
					<strong>{{remainingCount}}</strong>
					<ng-pluralize count = "remainingCount" when = "{one:'item left', other:'items left'}"></ng-pluralize>
				</span>
				<ul id="filters">
					<li>
						<a ng-class="{selected: status == '' }" href="#/">All</a>
					</li>
					<li>
						<a ng-class="{selected : status == 'active'}" href="#/active">Active</a>
					</li>
					<li>
						<a ng-class = "{selected : status == 'completed'}" href="#/compalted">Completed</a>
					</li>
				</ul>
				<button id="clear-complated" ng-click="clearCompletedTodos()" ng-show="completedCount">Clear completed</button>
			</footer>
		</section>
		
	</script>
	
	
<script src="farmwork/angular/angular.js"></script>
<script src="farmwork/angular-route/angular-route.js"></script>
<script src="farmwork/todomvc-common/base.js"></script>
<script src="js/index.js"></script>
<script src="js/services/todoStorage.js"></script>
<script src="js/controllers/todoCtrl.js"></script>
<script src="js/directives/todoEscape.js"></script>
<script src="js/directives/todoFocus.js"></script>
</body>
</html>
